{% extends "layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block nav_tools %}
<div class="calendar-wrapper">
    <button id="calendarButton" aria-label="{{ translations['calendar'] }}"><i class="fas fa-calendar-alt"></i></button>
    <div id="calendarContainer" class="calendar-container">
        <div id="calendar"></div>
    </div>
</div>
<button id="refreshButton" aria-label="{{ translations['refresh'] }}"><i class="fas fa-sync-alt"></i></button>
{% endblock %}

{% block content %}
<div id="app">
    <div id="timeline"></div>
</div>

<button id="backToTop" title="{{ translations['back_to_top'] }}">
    <i class="fas fa-arrow-up"></i>
</button>

<div id="modal" class="modal">
    <span class="close">&times;</span>
    <div class="modal-content">
        <img id="modal-img">
        <div id="modal-info-container">
            <div id="modal-info-header">
                <button id="copyWorkflow" class="copy-button">{{ translations['copy_workflow'] }}</button>
            </div>
            <div id="modal-info"></div>
        </div>
    </div>
</div>

<div id="confirmDialog" class="confirm-dialog">
    <div class="confirm-dialog-content">
        <p id="confirmMessage"></p>
        <div class="confirm-dialog-buttons">
            <button id="confirmYes" class="confirm-yes"></button>
            <button id="confirmNo" class="confirm-no"></button>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='lib/flatpickr/flatpickr.min.js') }}"></script>
<script>
    /* eslint-disable */
    var allowDeleteImage = {{ 'true' if allow_delete_image else 'false' }};
    /* eslint-enable */
</script>
<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}