{% extends "layout.html" %}

{% block title %}ComfyUI Moments - {{ translations['prompts'] }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block nav_tools %}
<button id="refreshButton" aria-label="{{ translations['refresh'] }}"><i class="fas fa-sync-alt"></i></button>
{% endblock %}

{% block content %}
<div id="app">
    <div class="under-construction">
        <i class="fas fa-tools"></i>
        <h2>{{ translations['under_construction'] }}</h2>
    </div>
</div>
{% endblock %} 