{% extends "layout.html" %}

{% block title %}ComfyUI Moments - {{ translations['prompts'] }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='prompts.css') }}">
{% endblock %}

{% block nav_tools %}
<button id="refreshButton" aria-label="{{ translations['refresh'] }}"><i class="fas fa-sync-alt"></i></button>
{% endblock %}

{% block content %}
<div id="app">
    <div id="prompts-container">
        <!-- 提示词和图片将通过 JavaScript 动态加载 -->
    </div>
</div>

<button id="backToTop" title="{{ translations['back_to_top'] }}"></button>
    <i class="fas fa-arrow-up"></i>
</button>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='common.js') }}"></script>
<script src="{{ url_for('static', filename='prompts.js') }}"></script>
{% endblock %} 